/* General style */
* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
}

body {
    background: var(--white);
    color: var(--black);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
    button:hover {
        cursor: pointer;
    }
