/* General style */
* {box-sizing: border-box;}

:root {
    --bodyBackground: #c2f7f7;
    --generalText: #42dac5;
    --buttonBorder: #333;
    --buttonClick: #444;
    --wrapperShadow: #666;
    --wrapperBackground: #222;
}

body {
    background: var(--bodyBackground);
    color: var(--generalText);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
    button {
        border: .1em solid var(--buttonBorder);
        background: none;
        outline: none;
        color: var(--generalText);
        font-weight: bold;
        border-bottom: transparent;
    }    
        button:hover {
            cursor: pointer;
            background: var(--buttonBorder);
        }
            .buttonClick:hover {background: var(--buttonClick);}

/* Wrapper */
.wrapper {
    border: .1em solid var(--black);
    width: 20em;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: .5em;
    font-size: 1.6em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "display display display display"
        "row-one row-one row-one column"
        "row-two row-two row-two column"
        "row-three row-three row-three column"
        "row-four row-four row-four column"
        "row-five row-five row-five column";
}

/* Display */
.display {
    grid-area: display;
    background: var(--black);
    color: var(--white);
    width: 100%;
    height: 5em;
    margin-bottom: 1em;
    padding: .5em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

/* Rows */
.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
    .row-one {grid-area: row-one;}
    .row-two {grid-area: row-two;}
    .row-three {grid-area: row-three;}
    .row-four {grid-area: row-four;}
    .row-five {grid-area: row-five;}

    .row--btn {
        display: inline-block;
        width: 100%;
    }

/* Column */
.column {
    grid-area: column;
    padding-left: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
    .column--btn {padding: 1em;}
